<template name="controlbox_search">
<div class="search_box col-xs-12">
    <div class="message_input_container col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="message_help_text">
            <h4>동행을 구하는 메세지를 남겨보세요~</h4>
        </div>
        <div class="message_box">
            <div class="massage_input_box">
                <textarea value="{{message_default}}" id="message_input" cols="30" rows="2"></textarea>
            </div>
            <div class="submit_box">
                <input type="submit" id="message_submit_button" value="등록">
            </div>
        </div>
    </div>
</div>
</template>
