<template name="controlbox_main">
  <div class="search_box col-xs-12">
      <div class="filter_set">
          <div class="search_filter date">
              <h4>동행 날짜</h4>
              <div class="input-group">
                  <input type="text" class="picker form-control date" id="datepicker">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-down"></i></span>
              </div>
          </div>
          <div class="search_filter country">
              <h4>나라</h4>
              <div class="input-group">
                  <select class="selectpicker country" id="countrypicker">
                      {{#each countrys}}
                        <option>{{name}}</option>
                      {{/each}}
                  </select>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-down"></i></span>
              </div>
          </div>
          <div class="search_filter city">
              <h4>도시</h4>
              <div class="input-group">
                  <select class="selectpicker city" id="citypicker">
                      {{#each citys}}
                        <option>{{name}}</option>
                      {{/each}}
                  </select>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-down"></i></span>
              </div>
          </div>
          <div class="search_filter search">
              <h4>&nbsp;</h4>
              <div class="input-group">
                  <span class="input-group-addon addon-search"><i class="glyphicon glyphicon-search"></i></span>
                  <input type="submit" class="picker form-control search" id="searchbutton" value="동행 찾기">
              </div>
          </div>
      </div>
  </div>
</template>
