<template name="login">
    {{#if currentUser}}
    <button id="logout" class="btn btn-default">로그아웃</button>
    <img id="profile_img" src="{{profile_img}}"/>
    {{else}}
    <button id="facebook-login" class="btn btn-default"><i class="fa fa-facebook fa-lg" ariad-hidden="true"></i> &nbsp;FACEBOOK으로 로그인</button>
    {{/if}}
</template>
