<template name="footer">
  <footer class="col-xs-12">
    <div class="footer_text_box col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <span class="logo">함께행</span>&nbsp;유럽여행 동행찾기 서비스
        <a href="https://www.facebook.com/1314691055219401" id="contact"> Contact </a>
    </div>
  </footer>
</template>
