<template name="headbox_search">
<div class="head_image col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 " style="background-image:url('/img/contents/{{country_en}}/{{country_en}}_{{city_en}}_{{item_num}}.jpg');">
      <img src="/img/search.jpg" class="main_image_hidden"/>
      <div class="headbox_inner">
          <div id="head_text"><h2><span id="city_text">{{city}}</span>에서<br/>{{item}}</h2></div>
          <div class="head_button_box">
              <div class="buttons_left">
              <button class="button_default" id="travel_button">여행 팟</button>
              <button class="button_default" id="meal_button">밥 팟</button>
              </div>
              <div class="buttons_right">
              <button class="button_default" id="beer_button">맥주 팟</button>
              <button class="button_default" id="nightview_button">야경 팟</button>
              </div>
          </div>
      </div>
  </div>
</template>
