<template name="headbox_main">
  <div class="head_image col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <img src="/img/main.jpg" class="main_image_hidden"/>
      <span id="main-text"><h2>함께행에서 멋진 여행을 함께 할<br/>동행을 찾아보세요.</h2></span>
  </div>
  <div class="search_helper col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h4> 동행을 찾고 싶은 날짜, 나라, 도시를 입력해주세요. </h4>
  </div>
</template>
