<template name="messagebox">
    <div class="messages_container col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {{#each messages}}
    <div class="message_container">
        <div class="text-wrap">
            <div class="owner_div">
                <img src="{{profile_img}}" class="message_profile_img" />
            </div>
            <div class="message_text">
                <span class="message_owner">{{owner_name}}</span>
                &nbsp;
                {{#if isMain}}
                    [{{country}}, {{city}}, {{formatDate eventAt}}]
                {{/if}}
                {{text}}
            </div>
        </div>

        <button onclick="window.open('{{fb_link}}')" class="message_send_button">메세지</button>
    </div>
    {{/each}}
    </div>
</template>
