<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav_middle col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <a href="/" id="nav_log">
        <img src="/img/logo.png" class="nav_logo">
        </a>
        {{> login}}
    </div>
  </nav>
</template>
