<template name="App_body">
  {{> navbar }}
  {{> UI.dynamic template=headbox}}
  {{> UI.dynamic template=controlbox}}
  <div class="space col-xs-12">
  {{> UI.dynamic template=messagebox}}
  </div>
  {{>footer}}
</template>
