@font-face { font-family: NSCK_bold; src: url('/font/NotoSansCJKkr-Bold.otf'); } 
@font-face { font-family: NSCK_medium; src: url('/font/NotoSansCJKkr-Medium.otf'); } 

@skyblue: #bbe1f2;
@skyblue-dark: #a7d6ea;
@gray: #ededed;
@gray-dark: #ddd;
@gray-text: #aaa;
@gray-addon: #ccc;
@gray-border: #e8e8e8;
@facebook: #3b5998;
@button-active: #353d5a;

*{
    font-family: NSCK_medium;
}
body{
    min-width:460px;
}
.bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}
:focus{
    outline:none !important;
}

.input_box_default{
    height:42px;
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
    border: 1px solid @gray-border;
    color: @gray-text;
    &:focus{
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
}

.submit_box_default{
    height: 40px;
    background-color:@skyblue;
    border-radius: 100px;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    &:hover{
        background-color:@skyblue-dark;
    }
    &:focus{
        -webkit-box-shadow: none;
        box-shadow:none;
    }
&:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
}
.btn-default{
   border-radius:100px;
   border: 1px solid @gray-border !important; 
   &:hover{
    border-color:@gray-border;
   }
    &:focus{
        -webkit-box-shadow: none;
        box-shadow:none;
        border-color:@gray-border;
        outline:none !important;
    }

}
.button_default{
    width: 100px;
    height: 37px;
    background-color:white;
    border-radius: 100px;
    border: none;
    text-align: center;
    color: black;
    font-size: 20px;
&:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
}
.button_active{
    background-color:@button-active;
    color: white;
}
.message_input_container{
    padding-top:20px;
    padding-bottom: 35px;
    .message_box{
        padding-top: 5px;
        padding-bottom:5px;
        display: table;
        width: 100%;
        .massage_input_box{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            #message_input{
                .input_box_default;
                display: block;
                vertical-align: middle;
                border-radius:18px;
                resize:none;
                overflow:hidden;
                height:35px;
                width: calc(~"100% - 20px");
                padding:7px 10px 6px 10px;
            }
        }
        .submit_box{
            display: table-cell;
            vertical-align: middle;
            #message_submit_button{
                .submit_box_default;
                display: block;
                vertical-align: middle;
                height: 35px;
                float:right;
                width:120px;
            }
        }

    }
}
@media (max-width: 600px){
    #message_submit_button{
        width: 70px !important;
    }
    .message_send_button{
        width: 70px !important;
    }
   .text-wrap{
        width:calc(~"100% - 80px") !important;
    }
    .buttons_left, .buttons_right{
        display: block !important;
    }
    #head_text{
        margin-top: -10px !important;
    }
    .head_button_box{
        padding-top: 0px !important;
    }
}
.filter_set{
    margin: 0 auto;
    text-align:center;
    padding-top: 15px;
    padding-bottom:25px;
}
.search_box{
    background-color:@gray;
    .search_filter{
        display:inline-block;
        text-align:center;
        margin: 0px 15px 15px 15px;
        .picker{
            .input_box_default;
            margin-right:-42px;
        }
    }
    .date{
        width: 221px;
    }
    .country{
        width: 180px;
    }
    .city{
        width: 180px;
    }
    .dropdown-toggle{
        width: 180px;
        height: 42px;
        border-radius:100px;
        padding: 10px 10px 10px 30px;
        margin-right: -42px;
        color:#555;
        .bs-caret{
            visibility: hidden;
        }
    }
    .dropdown-menu{
        width: 180px;
        li{
            padding: 5px 10px 10px 10px;
            height: 35px;
            border-bottom: 1px solid @gray;
        }
    }
    .search{
        width: 139px;
    }
    #searchbutton{
        .submit_box_default;
        padding: 0 0 0 20px;
    }
    .input-group-addon{
        pointer-events: none;
        position:relative;
        z-index: 10;
        background:transparent;
        border: none;
        color: @gray-addon;
    }
    .addon-search{
        color: black;
        font-size: 17px;
        position: absolute;
        top: 5px;
        left: 10px;

    }
}
.datepicker{
    width:221px;
    table{
        margin: 0 auto;
    }
    .table-condensed{
        thead{
            tr:nth-child(2){
                background-color:@skyblue;
                .datepicker-switch:hover, .prev:hover, .next:hover{
                    background-color:@skyblue-dark;
                }
                th{
                    border-radius:0px;
                    color:white;
                    font-weight: lighter;
                }
                th:nth-child(1){
                    border-top-left-radius:3px;
                    border-bottom-left-radius:3px;
                }
                th:nth-child(3){
                    border-top-right-radius:3px;
                    border-bottom-right-radius:3px;
                }
            }
            tr{
                th{
                    font-weight: normal;
                }
            }
        }
        tbody{
            .active{
                background-color:@skyblue !important;
            }
        }
    }
    &:after, &:before{
        visibility:hidden !important;
    }
}
.navbar{
    position:relative;
    background-color: transparent;
    margin: 0px;
    .nav_middle{
        .nav_logo{
            height:40px;
            margin-top:5px;
            margin-bottom:10px;
        }
        #facebook-login, #logout, #profile_img{
            .submit_box_default;
            float:right;
            height: 35px;
            border-radius: 100px;
            margin-top: 10px;
            margin-border:20px;
            border: none;
            background-color: @facebook;
            color: white;
            font-size: smaller;
        }
        #profile_img{
            width : 35px;
            height: 35px;
            margin-right:10px;
        }
        #logout{
            float:right;
            background-color: @skyblue;
        }
    }
}
.space{
    .messages_container{
        .message_container{
           border-bottom: 1px solid @gray-border; 
           padding-bottom: 3px;
           padding-top : 3px;
           font-size:16px;
           .message_profile_img{
               margin-right:7px;
                width: 45px;
                height: 45px;
           }
           .text-wrap{
                width:calc(~"100% - 100px");
                white-space:nowrap;
                overflow:hidden;
                display:inline-block;
                .owner_div{
                    width: 45px;
                    height: 45px;
                    display:inline-block;
                    vertical-align:top;
                }
           }
           .message_text{
                .message_owner{
                    color: black;
                }
                width:calc(~"100% - 45px");
                padding: 12px;
                font-size: 14px;
                color: @gray-text;
                display:inline-block;
                white-space:normal;
                font-family: NSCK_medium;
           }
           .message_send_button{
                .button_default;
                background-color:@gray;
                float:right;
                font-size: 14px;
                height: 30px;
                margin-top: 7px;
                &:hover{
                    background-color:@gray-dark;
                }
           }
        }
    }
}

.head_image{
    background-image: url('/img/main.jpg');
    background-position: center 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding:0px;
    #main-text{
        color:white;
        text-align:center;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        margin-top:15%;
        width: 400px;
    }
    .headbox_inner{
        position: absolute;
        text-align: center;
        color:white;
        top:0;
        left:0;
        right:0;
        bottom:0;
        #head_text{
            margin-top: 10%;
        }
        #city_text{
            font-size:40px;
            color:@skyblue;
            line-height:1.5;
        }
        .head_button_box{
            padding-top: 25px;
            .buttons_left, .buttons_right{
                display: inline-block;
            }
            .button_default{
               margin: 10px; 
               &:hover{
                    background-color: @button-active; 
                    color: white;
               }
            }
        }
    }
}
.main_image_hidden{
    width:100%;
    visibility:hidden;
}

.search_helper{
    text-align:center;
    padding: 10px;
}
.space{
    min-height: 300px;
}

footer{
    background-color: @skyblue;
    height : 50px;
    font-weight: lighter;
    font-size: 12px;
    line-height:50px;
    .footer_text_box{
        .logo{
            font-size: 18px;
            font-weight: normal;
        }
        color: white;
        #contact{
            float:right;
            color: white;
        }
    }
}
